*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html, #root{
	height: 100%;
}

.content-wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	
}

.main{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	flex: 1 1 auto;
	max-width: 1200px;
	padding: 0 10px;
}