.btn {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.4s ease-in;

  &.red {
    background-color: rgb(145, 189, 233);

    &:hover {
      background-color: white;
      color: rgb(145, 189, 233);
      border: 1px solid rgb(145, 189, 233);
    }
  }

  &.blue {
    background-color: rgb(192, 176, 222);

    &:hover {
      background-color: white;
      color: rgb(192, 176, 222);
      border: 1px solid rgb(192, 176, 222);
    }
  }
}
