.top-bar{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	align-items: center;
}

.home{
	margin-right: 100px;
	&__button{
		font-size: 18px;
		padding: 5px;
		font-weight: 600;
		border-radius: 8px;
		cursor: pointer;
	}
}

.favorites-star{
	margin-right: 20px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	&__counter{
		padding: 3px;
		position: absolute;
		bottom: -3px;
		right: -15px;
		border: 1px solid black;
		border-radius: 5px;
		font-size: 12px;
		font-weight: 600;
		text-decoration: none;
		color: red;
	}
}

.cart-logo{
	position: relative;
	margin-right: 10px;
	cursor: pointer;
	&__counter{
		position: absolute;
		bottom: 1px;
		right: -13px;
		padding: 3px;
		border: 1px solid black;
		border-radius: 5px;
		font-size: 12px;
		font-weight: 600;
		text-decoration: none;
		color: red;
	}
}