.cart-wrapper{
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.cart-list{
	border: 4px solid black;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	&__container{
		display: flex;
		align-items: center;
	}
}

.cart-item{
	flex-grow: 1;
	padding: 10px;
	display: flex;
	align-items: center;
	column-gap: 20px;
	border: 2px solid rgba(22, 191, 22, 0.878);
	margin-right: 10px;
	&__image img{
		max-width: 100px;
	}
	&__name{
		flex-grow: 1;
	}
}

.cart-cross{
	align-self: flex-start;
	margin-top: 3px;
	& button{
		cursor: pointer;
		border: none;
		background-color: transparent;
		font-size: 18px;
		&:hover{
			color: red;
		}
	}
}

.cart-empty{
	font-size: 18px;
}